#Icon_bar{
    width: 100%;
    height: 120px;
    background-color: #555;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}
a{
    width: 20%;
    height: 100%;
}
.fa-solid{
    width: 100%;
    font-size: 60px;
    padding-top: 30px;
    height: 90px;
    color: white;
}
.fa-house-chimney{
    background-color: #04AA6D;;
}
.hover-icon:hover{
background-color: black;
transition: 0.5s;
}